In [10]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
import re  # For cleaning strings

In [ ]:
# Going to scrape data from the Federak Reserve Bank of St. Louis, specifically, the consumer opinion survey: Future Tendency for the United States. This survey is a gauge of consumer sentiment about the direction of future consumer price changes. Postive values are increased inflation expectations, for example we can see recently that consumers expectations of inflation are decreasing which could indicate that we are headed towards an economic downturn. 

# Step 1: Fetch the page
url = 'https://fred.stlouisfed.org/data/CSINFT02USQ460S'  # test scraping site with a table, we want to pull consumer sentiment from the second table
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}
# Mimic browser to avoid blocks

response = requests.get(url, headers=headers)
if response.status_code != 200:
    print(f"Error: {response.status_code} - Check URL to make sure site actually works")
    exit()
print(response)

<Response [200]>

In [8]:
# Step 2: Parse HTML with BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')  # 'lxml' faster if installed

In [14]:
# Find the table (inspect page: class='table' or id='historical-data')
tables = soup.find_all(class_='table')
if len(tables) >= 2:
    table = tables[1]  # Adjust selector via browser inspect
if not table:
    print("Table not found, ensure the URL actually has a table to scrape from")
    exit()
print(table)

<table aria-labelledby="data-table-title" class="table table-bordered" id="data-table-observations">
<thead>
<tr>
<th scope="col">DATE</th>
<th scope="col">VALUE</th>
</tr>
</thead>
<tbody>
<tr>
<th class="pe-5" scope="row">1978-01-01</th>
<td class="pe-5">7.3666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1978-04-01</th>
<td class="pe-5">8.3000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1978-07-01</th>
<td class="pe-5">8.8666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1978-10-01</th>
<td class="pe-5">8.6000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1979-01-01</th>
<td class="pe-5">10.3666700000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1979-04-01</th>
<td class="pe-5">11.7000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1979-07-01</th>
<td class="pe-5">11.0333300000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1979-10-01</th>
<td class="pe-5">11.0333300000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1980-01-01</th>
<td class="pe-5">12.5666700000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1980-04-01</th>
<td class="pe-5">10.1666700000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1980-07-01</th>
<td class="pe-5">9.3666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1980-10-01</th>
<td class="pe-5">10.2333300000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1981-01-01</th>
<td class="pe-5">8.5333340000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1981-04-01</th>
<td class="pe-5">8.5666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1981-07-01</th>
<td class="pe-5">8.0333340000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1981-10-01</th>
<td class="pe-5">7.8666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1982-01-01</th>
<td class="pe-5">6.2000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1982-04-01</th>
<td class="pe-5">5.2333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1982-07-01</th>
<td class="pe-5">5.8333330000000005</td>
</tr>
<tr>
<th class="pe-5" scope="row">1982-10-01</th>
<td class="pe-5">5.3000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1983-01-01</th>
<td class="pe-5">4.1000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1983-04-01</th>
<td class="pe-5">4.5333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1983-07-01</th>
<td class="pe-5">4.8333330000000005</td>
</tr>
<tr>
<th class="pe-5" scope="row">1983-10-01</th>
<td class="pe-5">5.0666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1984-01-01</th>
<td class="pe-5">4.9000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1984-04-01</th>
<td class="pe-5">5.3000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1984-07-01</th>
<td class="pe-5">4.4000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1984-10-01</th>
<td class="pe-5">5.0333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1985-01-01</th>
<td class="pe-5">4.3666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1985-04-01</th>
<td class="pe-5">4.8333330000000005</td>
</tr>
<tr>
<th class="pe-5" scope="row">1985-07-01</th>
<td class="pe-5">4.0666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1985-10-01</th>
<td class="pe-5">4.7333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1986-01-01</th>
<td class="pe-5">3.6333330000000004</td>
</tr>
<tr>
<th class="pe-5" scope="row">1986-04-01</th>
<td class="pe-5">3.4666669999999997</td>
</tr>
<tr>
<th class="pe-5" scope="row">1986-07-01</th>
<td class="pe-5">3.7333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1986-10-01</th>
<td class="pe-5">3.7666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1987-01-01</th>
<td class="pe-5">3.8666669999999996</td>
</tr>
<tr>
<th class="pe-5" scope="row">1987-04-01</th>
<td class="pe-5">4.2666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1987-07-01</th>
<td class="pe-5">4.2666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1987-10-01</th>
<td class="pe-5">4.0000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1988-01-01</th>
<td class="pe-5">4.2333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1988-04-01</th>
<td class="pe-5">4.9666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1988-07-01</th>
<td class="pe-5">5.4666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1988-10-01</th>
<td class="pe-5">5.1666669999999995</td>
</tr>
<tr>
<th class="pe-5" scope="row">1989-01-01</th>
<td class="pe-5">5.1666669999999995</td>
</tr>
<tr>
<th class="pe-5" scope="row">1989-04-01</th>
<td class="pe-5">5.2666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1989-07-01</th>
<td class="pe-5">4.7333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1989-10-01</th>
<td class="pe-5">4.5666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1990-01-01</th>
<td class="pe-5">5.1000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1990-04-01</th>
<td class="pe-5">4.6333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1990-07-01</th>
<td class="pe-5">5.5000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1990-10-01</th>
<td class="pe-5">5.6000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1991-01-01</th>
<td class="pe-5">4.6000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1991-04-01</th>
<td class="pe-5">4.4000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1991-07-01</th>
<td class="pe-5">3.8333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1991-10-01</th>
<td class="pe-5">4.2333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1992-01-01</th>
<td class="pe-5">3.1333330000000004</td>
</tr>
<tr>
<th class="pe-5" scope="row">1992-04-01</th>
<td class="pe-5">3.5666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1992-07-01</th>
<td class="pe-5">3.9000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1992-10-01</th>
<td class="pe-5">3.7000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1993-01-01</th>
<td class="pe-5">4.2666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1993-04-01</th>
<td class="pe-5">4.3666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1993-07-01</th>
<td class="pe-5">4.6000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1993-10-01</th>
<td class="pe-5">3.7000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1994-01-01</th>
<td class="pe-5">3.8333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1994-04-01</th>
<td class="pe-5">4.1333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1994-07-01</th>
<td class="pe-5">4.5000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1994-10-01</th>
<td class="pe-5">4.1000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1995-01-01</th>
<td class="pe-5">4.1000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1995-04-01</th>
<td class="pe-5">4.0333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1995-07-01</th>
<td class="pe-5">3.9000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1995-10-01</th>
<td class="pe-5">3.4666669999999997</td>
</tr>
<tr>
<th class="pe-5" scope="row">1996-01-01</th>
<td class="pe-5">3.9000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1996-04-01</th>
<td class="pe-5">4.4666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1996-07-01</th>
<td class="pe-5">4.2000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1996-10-01</th>
<td class="pe-5">3.9666669999999997</td>
</tr>
<tr>
<th class="pe-5" scope="row">1997-01-01</th>
<td class="pe-5">3.8000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1997-04-01</th>
<td class="pe-5">3.6333330000000004</td>
</tr>
<tr>
<th class="pe-5" scope="row">1997-07-01</th>
<td class="pe-5">3.4000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1997-10-01</th>
<td class="pe-5">3.3333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1998-01-01</th>
<td class="pe-5">2.7666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1998-04-01</th>
<td class="pe-5">3.0000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1998-07-01</th>
<td class="pe-5">2.8333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1998-10-01</th>
<td class="pe-5">2.7000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1999-01-01</th>
<td class="pe-5">2.9666669999999997</td>
</tr>
<tr>
<th class="pe-5" scope="row">1999-04-01</th>
<td class="pe-5">3.1000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">1999-07-01</th>
<td class="pe-5">3.1333330000000004</td>
</tr>
<tr>
<th class="pe-5" scope="row">1999-10-01</th>
<td class="pe-5">3.4666669999999997</td>
</tr>
<tr>
<th class="pe-5" scope="row">2000-01-01</th>
<td class="pe-5">3.6000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2000-04-01</th>
<td class="pe-5">3.4666669999999997</td>
</tr>
<tr>
<th class="pe-5" scope="row">2000-07-01</th>
<td class="pe-5">3.6333330000000004</td>
</tr>
<tr>
<th class="pe-5" scope="row">2000-10-01</th>
<td class="pe-5">3.7666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2001-01-01</th>
<td class="pe-5">3.4333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2001-04-01</th>
<td class="pe-5">3.8666669999999996</td>
</tr>
<tr>
<th class="pe-5" scope="row">2001-07-01</th>
<td class="pe-5">3.1000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2001-10-01</th>
<td class="pe-5">1.5000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2002-01-01</th>
<td class="pe-5">2.5666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2002-04-01</th>
<td class="pe-5">3.0666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2002-07-01</th>
<td class="pe-5">2.8000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2002-10-01</th>
<td class="pe-5">2.7000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2003-01-01</th>
<td class="pe-5">3.2333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2003-04-01</th>
<td class="pe-5">2.5666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2003-07-01</th>
<td class="pe-5">2.8333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2003-10-01</th>
<td class="pe-5">3.0000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2004-01-01</th>
<td class="pe-5">3.0666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2004-04-01</th>
<td class="pe-5">3.9666669999999997</td>
</tr>
<tr>
<th class="pe-5" scope="row">2004-07-01</th>
<td class="pe-5">3.2666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2004-10-01</th>
<td class="pe-5">3.4333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2005-01-01</th>
<td class="pe-5">3.6000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2005-04-01</th>
<td class="pe-5">3.9333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2005-07-01</th>
<td class="pe-5">4.2666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2005-10-01</th>
<td class="pe-5">4.5666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2006-01-01</th>
<td class="pe-5">3.7333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2006-04-01</th>
<td class="pe-5">4.5000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2006-07-01</th>
<td class="pe-5">4.0000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2006-10-01</th>
<td class="pe-5">3.5000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2007-01-01</th>
<td class="pe-5">3.6000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2007-04-01</th>
<td class="pe-5">4.1666669999999995</td>
</tr>
<tr>
<th class="pe-5" scope="row">2007-07-01</th>
<td class="pe-5">4.0666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2007-10-01</th>
<td class="pe-5">4.1333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2008-01-01</th>
<td class="pe-5">4.1666669999999995</td>
</tr>
<tr>
<th class="pe-5" scope="row">2008-04-01</th>
<td class="pe-5">6.4000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2008-07-01</th>
<td class="pe-5">5.4000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2008-10-01</th>
<td class="pe-5">2.9666669999999997</td>
</tr>
<tr>
<th class="pe-5" scope="row">2009-01-01</th>
<td class="pe-5">2.4000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2009-04-01</th>
<td class="pe-5">3.4000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2009-07-01</th>
<td class="pe-5">3.1333330000000004</td>
</tr>
<tr>
<th class="pe-5" scope="row">2009-10-01</th>
<td class="pe-5">3.1000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2010-01-01</th>
<td class="pe-5">3.4666669999999997</td>
</tr>
<tr>
<th class="pe-5" scope="row">2010-04-01</th>
<td class="pe-5">3.7333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2010-07-01</th>
<td class="pe-5">3.1666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2010-10-01</th>
<td class="pe-5">3.6333330000000004</td>
</tr>
<tr>
<th class="pe-5" scope="row">2011-01-01</th>
<td class="pe-5">4.6000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2011-04-01</th>
<td class="pe-5">4.8666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2011-07-01</th>
<td class="pe-5">4.3666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2011-10-01</th>
<td class="pe-5">3.9000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2012-01-01</th>
<td class="pe-5">4.2666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2012-04-01</th>
<td class="pe-5">3.7000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2012-07-01</th>
<td class="pe-5">4.1666669999999995</td>
</tr>
<tr>
<th class="pe-5" scope="row">2012-10-01</th>
<td class="pe-5">4.0666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2013-01-01</th>
<td class="pe-5">4.3000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2013-04-01</th>
<td class="pe-5">4.0000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2013-07-01</th>
<td class="pe-5">4.1333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2013-10-01</th>
<td class="pe-5">3.7000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2014-01-01</th>
<td class="pe-5">4.1666669999999995</td>
</tr>
<tr>
<th class="pe-5" scope="row">2014-04-01</th>
<td class="pe-5">4.0333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2014-07-01</th>
<td class="pe-5">3.9333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2014-10-01</th>
<td class="pe-5">3.1666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2015-01-01</th>
<td class="pe-5">3.1000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2015-04-01</th>
<td class="pe-5">3.3666669999999996</td>
</tr>
<tr>
<th class="pe-5" scope="row">2015-07-01</th>
<td class="pe-5">3.4333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2015-10-01</th>
<td class="pe-5">3.2333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2016-01-01</th>
<td class="pe-5">3.1000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2016-04-01</th>
<td class="pe-5">3.1333330000000004</td>
</tr>
<tr>
<th class="pe-5" scope="row">2016-07-01</th>
<td class="pe-5">3.0666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2016-10-01</th>
<td class="pe-5">2.9333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2017-01-01</th>
<td class="pe-5">3.2000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2017-04-01</th>
<td class="pe-5">3.0666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2017-07-01</th>
<td class="pe-5">3.1333330000000004</td>
</tr>
<tr>
<th class="pe-5" scope="row">2017-10-01</th>
<td class="pe-5">3.0333330000000003</td>
</tr>
<tr>
<th class="pe-5" scope="row">2018-01-01</th>
<td class="pe-5">3.1333330000000004</td>
</tr>
<tr>
<th class="pe-5" scope="row">2018-04-01</th>
<td class="pe-5">3.4333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2018-07-01</th>
<td class="pe-5">3.5666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2018-10-01</th>
<td class="pe-5">3.4333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2019-01-01</th>
<td class="pe-5">2.9666669999999997</td>
</tr>
<tr>
<th class="pe-5" scope="row">2019-04-01</th>
<td class="pe-5">3.3333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2019-07-01</th>
<td class="pe-5">3.3000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2019-10-01</th>
<td class="pe-5">2.9666669999999997</td>
</tr>
<tr>
<th class="pe-5" scope="row">2020-01-01</th>
<td class="pe-5">2.7333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2020-04-01</th>
<td class="pe-5">3.0000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2020-07-01</th>
<td class="pe-5">3.4333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2020-10-01</th>
<td class="pe-5">3.0666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2021-01-01</th>
<td class="pe-5">4.1333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2021-04-01</th>
<td class="pe-5">5.3666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2021-07-01</th>
<td class="pe-5">5.9666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2021-10-01</th>
<td class="pe-5">6.4333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2022-01-01</th>
<td class="pe-5">6.7333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2022-04-01</th>
<td class="pe-5">7.9333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2022-07-01</th>
<td class="pe-5">7.0333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2022-10-01</th>
<td class="pe-5">7.0666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2023-01-01</th>
<td class="pe-5">5.7333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2023-04-01</th>
<td class="pe-5">6.0333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2023-07-01</th>
<td class="pe-5">5.3000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2023-10-01</th>
<td class="pe-5">5.6333330000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2024-01-01</th>
<td class="pe-5">4.3666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2024-04-01</th>
<td class="pe-5">5.2666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2024-07-01</th>
<td class="pe-5">4.7000000000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2024-10-01</th>
<td class="pe-5">4.8333330000000005</td>
</tr>
<tr>
<th class="pe-5" scope="row">2025-01-01</th>
<td class="pe-5">7.2666670000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2025-04-01</th>
<td class="pe-5">10.0333300000000000</td>
</tr>
<tr>
<th class="pe-5" scope="row">2025-07-01</th>
<td class="pe-5">8.1666670000000000</td>
</tr>
</tbody>
</table>

In [47]:
#HTML Elements of a table structure, how to pull rows, cells or headers
#td - table data the specific cell tag
#tr - table row the tag for the whole row of cells
#th - table header ""


# Step 3: Extract data and put into rows and columns
rows = [] #empty list to put the data into using the .append() method
headers = [th.get_text(strip=True) 
           for th in table.find('tr').find_all('th')]  # for each table row, get the text and strip the whitespace for the table header
# Rows: [1:] skips header; check both <td>/<th>; require 2+ cols
for row in table.find_all('tr')[1:]:
    cols = [cell.get_text(strip=True) for cell in row.find_all(['td', 'th'])]
    if len(cols) >= 2 and cols[0].strip():  # Valid row: 2+ cols, non-empty date
        date, value_str = cols[0], cols[1]  # Unpack for clarity
        try:
            value = float(value_str)  # Direct conversionâ€”no cleaning
            rows.append([date, value])
            if len(rows) <= 3:  # Debug: Log first few valid rows
                print(f"Added row: [{date}, {value}]")
        except ValueError:
            print(f"Skipping invalid row (non-numeric value): {cols[:2]}")  # Log for diagnosis

print(f"Number of valid rows extracted: {len(rows)}")

Added row: [1978-01-01, 7.366667]
Added row: [1978-04-01, 8.3]
Added row: [1978-07-01, 8.866667]
Number of valid rows extracted: 191

In [46]:
# Step 4: Convert to DataFrame
df = pd.DataFrame(rows, columns=headers[:2])  # Assumes first two cols: DATE, VALUE
df['DATE'] = pd.to_datetime(df['DATE'])  # Optional: For time-series analysis

print("This data is the consumer opinion survevy of consumer prices, what is the future price tendancy for the US")
print("\n")
print(df.head(20))

This data is the consumer opinion survevy of consumer prices, what is the future price tendancy for the US


         DATE      VALUE
0  1978-01-01   7.366667
1  1978-04-01   8.300000
2  1978-07-01   8.866667
3  1978-10-01   8.600000
4  1979-01-01  10.366670
5  1979-04-01  11.700000
6  1979-07-01  11.033330
7  1979-10-01  11.033330
8  1980-01-01  12.566670
9  1980-04-01  10.166670
10 1980-07-01   9.366667
11 1980-10-01  10.233330
12 1981-01-01   8.533334
13 1981-04-01   8.566667
14 1981-07-01   8.033334
15 1981-10-01   7.866667
16 1982-01-01   6.200000
17 1982-04-01   5.233333
18 1982-07-01   5.833333
19 1982-10-01   5.300000